body {
    background-color:blueviolet;
    font-family:Comic Sans MS ;
}
.full { background-color: rgba(255, 255, 255, 0.4);width: 65%;
text-align: center;
position: relative  ;left:  17%;
font-size: 20px;
font-weight: 900;}
