body {
    background-image:url(https://image.freepik.com/free-vector/joystick-vector-seamless_1176-200.jpg);
    font-family:Comic Sans MS ;
}
.full { background-color: rgba(255, 255, 255, 0.4);width: 65%;
text-align: center;
position: relative  ;left:  17%;
font-size: 20px;
font-weight: 900;}
